html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

#start_recording {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 50;
}

#message {
    position: absolute;
    left: 10px;
    top: 60px;
    width: 600px;
    padding: 5px;
    font-size: 80%;
    z-index: 49;
    background-color: rgba(255, 255, 255, 0.5)
}

#drawer1 {
    position: absolute;
    left: -9999px;
    top: 0px;
}

#drawer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0
}

#uuid {
    position: absolute;
    left: 200px;
    top: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8)
}

h5 {
    display: none
}

#orient,
#motion,
#geolocation {
    display: none
}

video {
    position: absolute;
    left: -9999px
}

.no-close .ui-dialog-titlebar-close {
    display: none
}

#mapid {
    height: 180px;
}