html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

#start_recording {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 50;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 40;
}

#banner {
    position: absolute;
    bottom: 10px;
    left: 5%;
    height: 20px;
    z-index: 41;
}

#location {
    position: absolute;
    bottom: 10%;
    right: 5%;
    height: 30px;
    width: 30px;
    z-index: 41;
}

#message {
    position: absolute;
    left: 10px;
    top: 60px;
    width: auto;
    padding: 5px;
    font-size: 100%;
    z-index: 49;
    background-color: rgba(255, 255, 255, 0.5)
}

#drawer1 {
    position: absolute;
    left: -9999px;
    top: 0px;
    z-index: 0;
}

#drawer2 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 0;
}

#uuid {
    position: absolute;
    left: 200px;
    top: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8)
}

h5 {
    display: none
}

#orient,
#motion,
#geolocation {
    display: none
}

video {
    position: absolute;
    left: -9999px
}

.no-close .ui-dialog-titlebar-close {
    display: none
}

#meta-form {
    font-size: 80%;
    width: 90%;
    height: 60%;
}

#vehicle {
    overflow: auto;
    width: 70px;
    /* adjust this width depending to amount of text to display */
    height: 80px;
    /* adjust height depending on number of options to display */
    border: 1px silver solid;
}

#vehicle select {
    border: none;
}

ul.ui-menu {
    max-height: 100px !important;
}